<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="/Library/Java/JavaVirtualMachines/jdk1.8.0_31.jdk/Contents/Home/bin/rmiregistry"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${workspace_loc:/3402 Assignment 1/bin}"/>
</launchConfiguration>
